body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3 {
  color: #335600;
}

form .btn-primary {
  background-color: #6a813b;
  border-color: #6a813b;
}

form .btn-primary:hover {
  background-color: #576a30;
  border-color: #576a30;
}

ul.pagination li.page-item {
  cursor: pointer;
}

ul.pagination li.page-item.disabled {
  cursor: default;
}

ul.pagination li.page-item .page-link {
  color: #6a813b;
}

ul.pagination li.page-item.active .page-link {
  background-color: #6a813b;
  border-color: #6a813b;
  color: #fff;
}

div.photo-thumbnail a {
  cursor: pointer;
}

div.photo-thumbnail img, img.photo-slide {
  border: 1px solid #7e7e7e;
}